.major{
  background-color: red;
  margin: auto;
  height: 415px;
  width: 630px;
  margin-top: 130px;
  padding-top: 15px;
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
}
.title{
  margin-top: 0px;
  color: white;
  font-size: 50px;
  margin-bottom: 40px;
}
.accesso{
  margin-top: 30px;
  height: 20px;
  width: 100px;
}
body{
  background: url(../images/sfondo_login.jpg) no-repeat center fixed;
  background-size: cover;
}
#error{
  visibility: hidden;
  color: red;
  text-align: center;
}
.viewchanger{
  margin-left: 280px;
  bottom: 71px;
  position: relative;
  background-color: white;
  color: blue;
}
.invisible_form{
  visibility: hidden;
}
