.opacity_maker {
  z-index: 1 ;
  background-color: red;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline-block;
}

.images {
  height: 100%;
  width: 100%;
}

.div_immagine {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ff4040;
}

.div_grande {
  text-align: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 90%;
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-left:12%;
}

.flex-container > div {
  margin: 1px;
  padding: 20px;
  font-size: 20px;

}
.img_articolo{
	width: 100%;
	height: 35%;
}
.img_citazioni{
	width: 200px;
	height: 200px;
	-moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    border-radius: 180px;
	filter: grayscale(1);
}
.lower_text, .center_text, .higher_text{
  z-index: 2;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: white;
}

.higher_text { 
  top: 50px;
  position: absolute;
  width: 60px;
  height: 70px;
  margin-left: 48%;

 }

.center_text{
	top: 100px;
	font-style: bold;
	font-family: serif;
	font-size: 64px;
}

.lower_text {
  top: 250px;
  font-style: italic;
  font-family: serif;
  font-size: 32px;
}

.left_button,.right_button {
  z-index:2;
  background-color: transparent;
  position: absolute;
  border: none;
  height: 48.32px;
  width: 25px;
  top: 50%;
}
.left_button{
	margin-left: -700px;
}
.right_button{
	margin-left: 700px;
}
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  display: inline-block;
  justify-content: center;
}

.nav-item {
  margin-right: 3px;
  margin-left: 3px;
  direction: horizontal;
  display: inline;
}
.colonne{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.colonne > div {
  width: 100%;
  margin: 2%;
  text-align: center;
  font-size: 15px;
}
.div_citazioni {
  text-align: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 80%;
}

.div_rettangolo {
  text-align: center;
  position: absolute;
  height: 474px;
  width: 980px;
  margin-left:24%;
  position: absolute;
}
.tabella{
  height: 474px;
  width: 60%;
  margin-left: 10%;
  position: relative;
  background-color: red;
  
}

.ruota_testo{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top: 350px;
	position:absolute;
}
.div_laterale{
	height: 474px;
	width: 10%;
	margin-left: 0%;
	position:relative;
	font-size: 16px;
}
.div_testino{
	font-size:16px;
	margin-left: -50%;
	position:relative;
	margin-top:-150px;
}
.div_img_tabella{
	position:absolute;
	width: 55%;
    height: 474px;
	margin-top: -474px;
	margin-left: -15%;
}
