.centering{
  height: 6286px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_container{
  width: auto;
  height: 6286px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.di_article_container{
  width: auto;
  height: 456px;
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
  margin-top: 28px;
}
.article_container{
  height: 454px;
  width: 454px;
  z-index: 2;
  border-color: rgba(232, 230, 230, 0.75);
  border-width: 1px;
  border-style: solid;
  margin-right: 28px;
  margin-left: 28px;
}
.didascalia{
  width: 940px;
  height: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
}
.author_container{
  width: 890px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 25px;
}
.svg_image_account{
  height: 32px;
  width: 32px;
  align-self: center;
}
.HOi00{
  box-sizing: inherit;
  font: inherit;
}
.author{
  height: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: baseline;
  margin-bottom: 400px;
}
.author_name{
  height: 19px;
  display: flex;
  flex-direction: row;
}
.svg_image_profile{
  height: 19px;
  width: 19px;
}
.name{
  height: 13px;
  font-weight: inherit;
  font-style: inherit;
}
.date_and_time{
  height: 13px;
  display:flex;
  flex-direction: row;
  color: white;
}
.point_container{
  width: 18px;
  height: 2px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.point{
  width: 2px;
  height: 2px;
  border-radius: 50%;
  align-self: center;
  background-color: white;
  box-sizing: inherit;
  align-self: center;
}
.nocolor{
  color: white;
  text-decoration: none;
}
.description{
  width: 100%;
}
.title{
  font: normal normal normal 28px/35px proxima-n-w01-reg,sans-serif;
  width: 890px;
  align-self: center;
  text-align: left;
}
.description_text{
  width: 890px;
  align-self: center;
  text-align: left;
  margin-top: 10px;
  font: normal normal normal 16px/20px proxima-n-w01-reg,sans-serif;
}
.direction_div{
  display: flex;
  padding-left: 20px;
  height: 456px;
  width: 456px;
  z-index: 2;
  position: relative;
}
#going_down{
  padding-top: 25px;
  flex-direction: column;
}
#going_up{
  padding-bottom: 25px;
  flex-direction: column-reverse;
  margin-top: -500px;
}
.blog-post-post-list-description-fill{
  fill: white;
}
